{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <p>Afficher le fil d'ariane</p>
    <p>Afficher données du client ?</p>
    {{ user.login }}
    <h1>Category index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Label</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.label }}</td>
                <td>
                    <a href="{{ path('app_admin_file_index', {'user_login': user.login, 'category_label': category.label } ) }}">voir les fichiers</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
