.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #A62A3D;
    color: white;
    padding: 0.1rem;
    height: 5%;
}
.navbar div {
    width: 15%;
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}

.navbar-action{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;

}
.navbar-action__span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

i {
    font-size: 1.5rem;
}

.mobile-visible{
    visibility: hidden;
}

/*TODO */
/*.submenu-parent{
    position: relative;
}
.submenu{
    list-style: none;
    position: absolute;
    left: -110%;
    right: 0;
    background-color: white;
    border: 1px solid #A62A3D;
    /*display: none;*/
/*}
.submenu-parent:hover > .submenu {
    display: block;
}*/

/* Dropdown Content (Hidden by Default) */
div.subnav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid #A62A3D;
    right: 0;
}
/* Links inside the dropdown */
.subnav-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.submenu-parent:hover .subnav-content {
    display: block;
}

.subnav-content .submenu{
    padding-left: 0;
}

.subnavbtn{
    background-color: #A62A3D;
    color: #f9f9f9;
    border: none;
    cursor: pointer;
}
a.subnavDeco:hover, a.subnavMdp:hover, a.subnavUser:hover{
    background-color: #A62A3D;
    color: #f9f9f9;
}

.submenu-parent:hover .subnavbtn{
    transform: rotate(180deg);
}
/*==================*/

@media only screen and (max-width: 500px) {
    .mobile-invisible{
        visibility: hidden;
    }

    .mobile-visible{
        visibility: visible;
    }

    i {
        font-size: 1rem;
    }
}