.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #A62A3D;
    color: white;
    padding: 0.1rem;
    height: 5%;
}
.navbar div {
    width: 15%;
    display: flex;
    align-items: center;
}
img{
    width: 100%;
}

.navbar-action{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding-right: 1rem;

}
.navbar-action__span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

i {
    font-size: 1.5rem;
}

.mobile-visible{
    visibility: hidden;
}

/*TODO */
.submenu-parent{
    position: relative;
}
.submenu{
    list-style: none;
    position: absolute;
    left: -110%;
    right: 0;
    background-color: white;
    border: 1px solid #A62A3D;
    /*display: none;*/
}
.submenu-parent:hover > .submenu {
    display: block;
}
/*==================*/

@media only screen and (max-width: 500px) {
    .mobile-invisible{
        visibility: hidden;
    }

    .mobile-visible{
        visibility: visible;
    }

    i {
        font-size: 1rem;
    }
}